* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: sans-serif;
	overflow: hidden;
	background-color: cyan;
}
img {
	margin: 5px;
	padding: 5px;
}
.container {
	width: 100vw;
	height: 100vh;
}
.login-content {
	display: flex;
	justify-content: flex-start;
	text-align: center;
	margin: auto;
}
.login-content h2 {
	color: #214cee;
	text-transform: uppercase;
}
.login-content .input-div {
	position: relative;
	align-content: center;
}
form {
	display: fixed;
	background-color: gray;
	border-radius: 10px;
	padding: 5px;
}
.btn {
	position: relative;
	color: cyan;
	background-color: #214cee;
	margin-right: 15px; 
}
a {
	text-decoration: none;
	color: blue;
}
@media (min-width: 998px) {
	h5 {
		width: 100px;
	}
	.login {
		width: 30%; margin: 0;
	}
	.container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 5%;
		padding: 0 2%;
	}
	.login-content img {
		height: 180px;
		padding: 5px;
	}
	.login-content h2 {
		margin-bottom: 15px;
		font-size: 2.8rem;
	}
	.login-content .input-div {
		padding: 5px 0;
		margin-bottom: 10px;
	}
	form {
		width: 350px;
		height: 450px;
	}
	.input {
		width: 180px;
		height: 20px;
	}
	.ftpwd {
		width: 100px;
		margin: auto;
		margin-right: 25px;
		font-size: 0.75rem;
	}
	.btn {
		width: 100px;
		height: 30px;
		border-radius: 15px;
		font-size: 1.3em;
		margin-top: 20px;
	}
}
@media (max-width: 997px) {
	h5 {
		width: 120px;
	}
	.login {
		display: none;
	}
	.container {
		display: flex;
	}
	.login-content img {
		height: 250px;
		padding: 10px;
	}
	.login-content h2 {
		margin-bottom: 20px;
		font-size: 3.3rem;
	}
	.login-content .input-div {
		padding: 10px 0;
		margin-bottom: 15px;
		font-size: 1.3rem;
	}
	form {
		width: 500px;
		height: 600px;
	}
	.input {
		width: 250px;
		height: 25px;
	}
	.ftpwd {
		width: 120px;
		margin: auto;
		margin-right: 60px;
		font-size: 0.92rem;
	}
	.btn {
		width: 200px;
		height: 50px;
		border-radius: 25px;
		font-size: 1.5em;
		margin-top: 10px;
	}
}